
<!--Root component-->
<div class="container border rounded border-dark border-3 mt-4 p-4">
    <!--main Heading-->
    <h1 class="text-center border rounded bg-secondary text-white">Features of Mobiles</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">
            <!--child component-1-->
            <div class="col">
              <app-user-registation></app-user-registation>
            </div> 
            <!--child component-2-->
            <div class="col">
                <app-user-registation1></app-user-registation1>
              </div> 
              <!--child component-3-->
              <div class="col">
                <app-user-registation2></app-user-registation2>
              </div> 
             <!--child component-4-->
              <div class="col">
                <app-user-registation3></app-user-registation3>
              </div> 
              <!--child component-5-->
              <div class="col">
                <app-user-registation1></app-user-registation1>
              </div> 
              <!--child component-6-->
              <div class="col">
                <app-user-registation></app-user-registation>
              </div> 
        </div>  
</div>