<!--child component-2-->
<div class="card bg-light shadow rounded mt-4">
    <img class="w-50 d-block mx-auto img-thumbnail mt-3 rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKmpTFHb897kxyjIaVfUN4KqYxAvHt8R63RRpPRAbd7_BLq2axhhTCkcpNmzsY5EjqQBEh90I&usqp=CAc" alt="">
     <p class="d-inline m-0 mt-3 ms-1">Model:Iphone 6</p>
     <p class="d-inline m-0 ms-1 ">Brand:Apple
     <button class="btn btn-success d-inline float-end mb-3 me-3" data-bs-target="#iphone6" data-bs-toggle="modal">Specs</button></p>
</div>
